[Unit]
Description=Sotolito Nginx Podman Container
Requires=sotolito-php-fpm.service
After=network.target sotolito-php-fpm.service

[Service]
EnvironmentFile=/etc/sotolito/nginx.env
User=sotolito-nginx
Group=sotolito-nginx
CPUWeight=200
MemoryLimit=512M
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm ${CONTAINER_NAME}
ExecStart=/usr/bin/podman run -t --name="${CONTAINER_NAME}" --pod web --ulimit nofile=1024:6553 \
           -v /var/sotolito/vols/nginx/var:/var/                         \
           -v /var/sotolito/vols/nginx/etc/nginx:/etc/nginx              \
           -v /var/sotolito/vols/php-fpm/run/php-fpm/:/run/php-fpm/      \
           -v /var/sotolito/vols/php-apps/:/var/lib/nginx/html/php-apps/ \
           -v /var/sotolito/vols/php-fpm/etc/php7/:/etc/php7/            \
           -e "LANG=en_US.UTF-8"     \
           -e "LC_MESSAGES=POSIX"    \
           -e "LANGUAGE=en_US.UTF-8" \
           -e "LC_CTYPE=en_US.UTF-8" \
           ${IMAGE_NAME}

ExecReload=-/usr/bin/podman stop ${CONTAINER_NAME}
ExecReload=-/usr/bin/podman rm ${CONTAINER_NAME}
ExecStop=-/usr/bin/podman stop ${CONTAINER_NAME}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
