[Unit]
Description=Sotolito php-fpm Podman Container
After=network.target

[Service]
EnvironmentFile=/etc/sotolito/php-fpm.env
User=sotolito-nginx
Group=sotolito-nginx
CPUWeight=150
MemoryLimit=512M
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman pod rm -f web
ExecStart=/usr/bin/podman run -t --name=${CONTAINER_NAME} --pod new:web --ulimit nofile=1024:6553 -p 127.0.0.1:9000:9000  \
         -p 127.0.0.1:8080:80                                           \
         -v /var/sotolito/vols/php-apps/:/var/lib/nginx/html/php-apps/  \
         -v /var/sotolito/vols/php-fpm/etc/php7/:/etc/php7/             \
         -v /var/sotolito/vols/php-fpm/var/lib/php7/:/var/lib/php7      \
         ${IMAGE_NAME}

ExecReload=-/usr/bin/podman stop ${CONTAINER_NAME}
ExecReload=-/usr/bin/podman rm ${CONTAINER_NAME}
ExecStop=-/usr/bin/podman stop ${CONTAINER_NAME}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
